body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: white;
    
    background-image: url("DRG_Wallpaper_GlacialStrata.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}